
body{
    background-color: antiquewhite;
}

.alpha{
    color: rgb(34, 180, 34);
    background-color: rgba(198, 243, 198, 0.854);
    width: fit-content;
    margin-top: -3rem;
    
   }
.information{
  color: rgba(17, 180, 234, 0.935);
  background-color: rgba(224, 238, 243, 0.935);
  width: fit-content;
  text-align: center;
  padding-left: 5px;
}


.bg-light-green {
    background-color: lightgreen;

  }
  
  .text-light-green {
    color:green;
  }
 
.content-info{
  font-size: small;
}
.custom-btn{
  border-radius: 2rem;
  margin-left: 290px;
}
.dropdown{
  margin-left: 175px;
}
.invoice-content{
  font-size: small;
}