.nav-item:hover {
  display: block;
  background-color: rgba(32, 23, 117, 0.664);
  border-radius: 100px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.navbar-column {
  width: 20%;
}

.navbar-container {
  position: fixed;
  width: 19%;
}

.alpha {
  color: rgb(34, 180, 34);
  background-color: rgba(198, 243, 198, 0.854);
  width: fit-content;
  margin-top: -3rem;
  font-weight: 200;
}
.information {
  color: rgba(17, 180, 234, 0.935);
  background-color: rgba(224, 238, 243, 0.935);
  width: fit-content;
  text-align: center;
  padding-left: 5px;
  font-weight: 200;
}

.bg-light-green {
  background-color: lightgreen;
}

.text-light-green {
  color: green;
}

.content-info {
  font-size: small;
}
.custom-btn {
  border-radius: 2rem;
  margin-left: 290px;
}
.dropdown {
  margin-left: 175px;
}
.invoice-content {
  font-size: small;
}
.badge-note {
  color: rgb(34, 180, 34);
  background-color: rgba(198, 243, 198, 0.854);
  font-weight: 200;
}
.text-pending {
  font-weight: 100;
  font-size: small;
}
.right-container {
  padding-left: 30px;
  padding-right: 30px;
}
.table-headrow {
  text-align: start;
  font-size: small;
  font-weight: 500;
}
.table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.draft {
  color: rgba(72, 83, 68, 0.935);
  background-color: rgba(194, 199, 190, 0.935);
  width: fit-content;
  text-align: center;
  padding-left: 5px;
  font-weight: 200;
}
.received-txt {
  font-size: small;
  font-weight: 700;
}
.sidebar {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
}
.span-icon {
  position: relative;
  left: 1.8rem;
  top: 0.4rem;
}

.table-row {
  outline: 1px solid rgba(217, 222, 227, 0.764);
}
.table-data {
  padding-top: 10px;
}
.right-container {
  width: 100%;
  padding-left: 275px;
  padding-right: 25px;
}

.cont-left {
  padding-left: 0px;
  margin-left: 0px;
}
.cont-right {
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar {
  width: 19%;
  position: fixed;
}

.new-in {
  padding-right: 40px;
}
.search-container {
  margin-left: -10px;
}
.payment-cont {
  padding-left: 25px;
}
.total-cont {
  padding-left: 35px;
}
